<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>
  <body>

    <div id="app">
      {{ content | safe }}
    </div>
    
    <script src="/scripts/{{ javascript }}.js"></script>
  </body>
</html>